<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="~/cssResponse/styles.css" />
    <link rel="stylesheet" href="~/cssResponse/buttons.css">
    <style>
        #showcase {
            background: linear-gradient(rgba(252, 153, 124, 0.2), rgba(250, 81, 30, 0.2)), url("/imgResponse/pexels-markus-spiske-1002638.jpg");
            background-position: center;
            background-size: cover;
            height: 40vh;
            width: 100%;
            padding: 10px;
            position: relative;
            margin-top: 40px;
        }

        .features__left {
            background: linear-gradient(rgba(252, 153, 124, 0.2), rgba(250, 81, 30, 0.2)), url("/imgResponse/features.jpeg");
            background-size: cover;
            background-position: top center;
        }
    </style>
</head>
<body id="body">
    @RenderBody()
</body>

</html>

