@{
    ViewData["Title"] = "Main Page";
    Layout = "MainLayout";
}

<main>
    <section class="showcase">
        <div class="content">
            <h2>FWM'e Hoşgeldiniz,</h2>
            <h4>Size uygun en iyi web sitesine sahip olmak ister misiniz?</h4>
        </div>
    </section>
    <section class="how-it-works">
        <h1>Nasıl İnternet Sitem Olur?</h1>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <i class="fa-solid fa-user how-it-works__icon"></i>
                    <h3>Kaydol</h3>
                    <p class="content">
                        Bir web sitesin sahip olabilmek ve iletişimi sağlamak için
                        kaydol
                    </p>
                </div>
                <div class="col-4">
                    <i class="fa-solid fa-magnifying-glass how-it-works__icon"></i>
                    <h3>Ana Yapı</h3>
                    <p class="content">
                        Sana uygun web siteleri arasından istediğini seç.
                    </p>
                </div>
                <div class="col-4">
                    <i class="fa-solid fa-circle-half-stroke how-it-works__icon"></i>
                    <h3>Özelleştirme</h3>
                    <p class="content">
                        Seçtiğin web sitesini özelleştir. Renkleri değiştir, uyum sağla.
                    </p>
                </div>
                <div class="col-4">
                    <i class="fa-solid fa-shield-halved how-it-works__icon"></i>
                    <h3>Güvenlik</h3>
                    <p class="content">
                        Web siten için FWM güvenliği. Serüvene başlayabilirsin.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="hexagon">
        <h2>Web Sitesi Türlerini Keşfedin</h2>
        <div class="hexagon-elements">
            <div class="hexagon-element-1 hexagon__item he1-deactive">
                <h5 class="hexagon-element-title">Blog</h5>
                <p class="he__content">
                    <!-- İnternet üzerinde bireysel olarak oluşturulan, genel veya belli
                    bir odak noktası olan blog çeşididir. Büyük oranda blog yazarının
                    ismini veya takma adını alırlar. Yazarın bireysel günlüğü olmak
                    dışında gündemi kendi kalemi ile yansıttığı ortamdır. -->
                    <ul class="he__content">
                        <li class="he_content_info">Bireysel Sitenizi oluşturun</li>
                        <li class="he_content_info">Genel veya belli bir odak noktasına yoğunlaş</li>
                        <li class="he_content_info">Bireysel günlüğünüz</li>
                        <li class="he_content_info">Gündemi kendi kaleminizden siteye yansıtın</li>
                    </ul>
                </p>
            </div>
            <div class="hexagon-element-2 hexagon__item he1-deactive">
                <h5 class="hexagon-element-title">CV</h5>
                <p class="he__content">
                    <!-- İnternetteki özgeçmişinizdir. İnsanların kariyer hayatı boyunca
                    yaptıklarının bir dökümanıdır. kendinize ait bir CV ve bunun sanal
                    ortamda bulunması sizin için de avantaj sağlayacaktır. -->
                    <ul class="he__content">
                        <li class="he_content_info">Özgeçmişinizi Yansıtın</li>
                        <li class="he_content_info">Kariyer hayatınızı yazın</li>
                        <li class="he_content_info">CV nizi sanal ortama taşıyın</li>
                    </ul>
                </p>
            </div>
            <div class="hexagon-element-3 hexagon__item he1-deactive">
                <h5 class="hexagon-element-title">E-Ticaret</h5>
                <p class="he__content">
                    <!-- internetteki dijital vitrininizdir. Alıcı ve satıcı arasındaki
                    alışverişi kolaylaştırır. Ürünlerinizi sergilediğiniz ve online
                    müşterilerinizin seçimlerini yaptığı sanal alandır. Web siteniz,
                    online iş kanalınız için ürün rafları, satış personeli ve yazar
                    kasa görevi görür. -->
                    <ul class="he__content">
                        <li class="he_content_info">İnternetteki dijital vitrininiz</li>
                        <li class="he_content_info">Alıcı ve satıcı arasındaki alışverişler</li>
                        <li class="he_content_info">Ürünlerinizi sayfanızda sergileyin</li>
                        <li class="he_content_info">Müşterileriniz internetten ürün sahibi olsun</li>
                        <li class="he_content_info">Ürün rafları, Satış personeli ve yazarkasa görevi</li>
                    </ul>
                </p>
            </div>
            <div class="hexagon-element-4 hexagon__item he1-deactive">
                <h5 class="hexagon-element-title">Video</h5>
                <p class="he__content">
                    <!-- İnternetteki video oynatma, video barındırma ortamıdır. Bu sitede
                    videolar yükleyebilir ve izleyebilirsiniz. Film
                    uygulamaları,Eğlenceli kısa videolar vb. gibi şeyleri barındırmak
                    veya bunları insanlara sunma amaçlıdır. -->
                    <ul class="he__content">
                        <li class="he_content_info">İnternetteki video barındırma siteniz</li>
                        <li class="he_content_info">Video yükleme ve oynatma</li>
                        <li class="he_content_info">Film ve dizi uygulamaları</li>
                    </ul>

                </p>
            </div>
            <div class="hexagon-element-5 hexagon__item he1-deactive">
                <h5 class="hexagon-element-title">Music</h5>
                <p class="he__content">
                    <!-- İnternetteki mp3 tipi verilerin tutulduğu ortamdır. Bu sitede
                    müziklerinizi veya sesleriniz yani mp3 tipindeki her şeyi
                    barındırabilirsiniz. -->
                    <ul class="he__content">
                        <li class="he_content_info">İnternetteki mp3 barındırma siteniz</li>
                        <li class="he_content_info">Ses yükleme ve oynatma</li>
                        <li class="he_content_info">Müzik ve ses uygulamaları</li>
                    </ul>
                </p>
            </div>
            <div class="hexagon-element-6 hexagon__item he1-deactive">
                <h5 class="hexagon-element-title">Muhasebe</h5>
                <p class="he__content">
                    <!-- işletmenin finansal yönetimini sağlayacak verilerin takibi ve
                    işlenmesini sağlayan internet sitesidir. Şirketin cari, banka ve
                    kasa hesaplarının takibi ile birlikte fatura, irsaliye, çek/senet
                    hazırlanması gibi işlemleri içerir. -->
                    <ul class="he__content">
                        <li class="he_content_info">İşletmenizin finansal yönetimi</li>
                        <li class="he_content_info">Cari hesap takibi</li>
                        <li class="he_content_info">Banka hesap takibi</li>
                        <li class="he_content_info">fatura, irsaliye, çek/senet işlemleri</li>
                    </ul>
                </p>
            </div>
            <div class="hexagon-element-7 hexagon__item he1-deactive">
                <h5 class="hexagon-element-title">Grafik</h5>
                <p class="he__content">
                    <!-- internet üzerinde elinizde bulunan verilerin grafiksel olarak bir
                    ortamda sunuluşudur. Sanal paranız, hisselerin takibi, şirket
                    verileri, gelir gider tablosu gibi bir çok ögenin grafiğe dökülüp
                    sunulduğu internet sitesidir. -->
                    <ul class="he__content">
                        <li class="he_content_info">Verilerinizi grafiğe yansıtın</li>
                        <li class="he_content_info">Sanal para</li>
                        <li class="he_content_info">Hisse takibi</li>
                        <li class="he_content_info">Şirket verileri ve gelir gider tablosu</li>
                    </ul>
                </p>
            </div>
        </div>
    </section>
    <section class="info">
        <h2 class="info__header">
            <div class="row">
                <div class="col-3">
                    <hr />
                    <hr />
                </div>
                <div class="col-3">FWM Hakkında</div>
                <div class="col-3">
                    <hr />
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <hr />
                    <hr />
                </div>
                <div class="col-3"></div>
                <div class="col-3" style="float: right">
                    <hr />
                    <hr />
                </div>
            </div>
        </h2>
        <div class="row">
            <div class="col-2 aboutus_left"></div>
            <div class="col-2 aboutus_right">
                <h2 class="aboutus_right__header">FWM Nedir?</h2>
                <p class="aboutus_right__content">
                    FWM (Furkan With Meta), internet üzerinden müşteri memnuniyeti
                    için alışveriş ortamı sağlan bir kurumdur. FWM-Hexagon ise size
                    internet sitesi sunan ve isterseniz bu internet sitesini siber
                    saldırılara karşı koruma altında tutan bir yapıdır.
                </p>

                <div class="row">
                    <div class="col-2">
                        <div class="btn-1 aboutus-button">
                            <a href="/AboutUs" class="btn-primary">Hakkımızda</a>
                        </div>
                    </div>
                    <div class="col-2 col-2__contact-button">
                        <div class="btn-0-right contact-button">
                            <a href="/Contact" class="btn-primary" style="padding: 8px 40px;">İletişim</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
@section Scripts{
    <link rel="stylesheet" href="~/style.css" />
    <link rel="stylesheet" href="~/buttons.css" />
    <script src="~/JavaScript/MainPageScript.js"></script>
    }
