@{
    ViewData["Title"] = "Allwebsites Page";
    Layout = "MainLayout";
}

<div class="all-websites-container">
    <h2>Film ve TV Siteleri</h2>
    <div class="film-container">
        <a href="/websites">
            <div class="film-site1">
            </div>
        </a>
        <h2>CV Siteleri</h2>

        <a href="#">
            <div class="cv-site1">

            </div>
        </a>
    </div>
</div>
@section scripts{
    <link rel="stylesheet" href="~/Allwebsites.css" />
    <link rel="stylesheet" href="~/buttons.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/style.css">
}