@{
    ViewData["Title"] = "AboutUs Page";
    Layout = "MainLayout";
}

<main>
    <section class="section-aboutus">
        <div class="container aboutus-container">
            <div class="about-us" style="margin-top: 16px">
                <span class="about-us__title">HAKKIMIZDA</span>
                <p class="about-us__content">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente
                    nisi, corrupti odit magnam eaque maiores incidunt veritatis hic
                    aliquam eius, animi ea facere dolores enim! Quo ullam impedit
                    earum consectetur? Autem repellat aperiam, praesentium impedit
                    eligendi nesciunt blanditiis nulla voluptatem ipsam culpa
                    necessitatibus quaerat incidunt, voluptates quod deleniti.
                    Adipisci accusamus, nulla atque aspernatur sed numquam at labore
                    nesciunt quos dicta. Officiis ad modi, natus nesciunt, mollitia,
                    quos aliquid maxime suscipit vitae nemo blanditiis. Neque porro
                    laboriosam inventore quasi sapiente laborum harum eos molestiae
                    repellendus? Voluptatum a harum veritatis. Velit, ipsam.
                    Voluptatum corrupti ab aperiam, error quod voluptates, earum amet
                    blanditiis maiores porro repellat doloremque id labore enim
                    inventore modi dolor reprehenderit cupiditate consequuntur nam
                    laboriosam obcaecati odio non. Illum, nam?
                </p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <div class="container aboutus-container">
                        <div class="about-us">
                            <span class="about-us__title blue">VİZYONUMUZ</span>
                            <p class="about-us__content">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                Sapiente nisi, corrupti odit magnam eaque maiores incidunt
                                veritatis hic aliquam eius, animi ea facere dolores enim!
                                Quo ullam impedit earum consectetur? Autem repellat aperiam,
                                praesentium impedit eligendi nesciunt blanditiis nulla
                                voluptatem ipsam culpa necessitatibus quaerat incidunt,
                                voluptates quod deleniti. Adipisci accusamus, nulla atque
                                aspernatur sed numquam at labore nesciunt quos dicta.
                                Officiis ad modi, natus nesciunt, mollitia, quos aliquid
                                maxime suscipit vitae nemo blanditiis. Neque porro
                                laboriosam inventore quasi sapiente laborum harum eos
                                molestiae repellendus? Voluptatum a harum veritatis. Velit,
                                ipsam. Voluptatum corrupti ab aperiam, error quod
                                voluptates, earum amet blanditiis maiores porro repellat
                                doloremque id labore enim inventore modi dolor reprehenderit
                                cupiditate consequuntur nam laboriosam obcaecati odio non.
                                Illum, nam?Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit. Sapiente nisi, corrupti odit magnam eaque
                                maiores incidunt veritatis hic aliquam eius, animi ea facere
                                dolores enim! Quo ullam impedit earum consectetur? Autem
                                repellat aperiam, praesentium impedit eligendi nesciunt
                                blanditiis nulla voluptatem ipsam culpa necessitatibus
                                quaerat incidunt, voluptates quod deleniti. Adipisci
                                accusamus, nulla atque aspernatur sed numquam at labore
                                nesciunt quos dicta. Officiis ad modi, natus nesciunt,
                                mollitia, quos aliquid maxime suscipit vitae nemo
                                blanditiis. Neque porro laboriosam inventore quasi sapiente
                                laborum harum eos molestiae repellendus? Voluptatum a harum
                                veritatis. Velit, ipsam. Voluptatum corrupti ab aperiam,
                                error quod voluptates, earum amet blanditiis maiores porro
                                repellat doloremque id labore enim inventore modi dolor
                                reprehenderit cupiditate consequuntur nam laboriosam
                                obcaecati odio non. Illum, nam?
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="container aboutus-container">
                        <div class="about-us">
                            <span class="about-us__title blue">MİSYONUMUZ</span>
                            <p class="about-us__content">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                Sapiente nisi, corrupti odit magnam eaque maiores incidunt
                                veritatis hic aliquam eius, animi ea facere dolores enim!
                                Quo ullam impedit earum consectetur? Autem repellat aperiam,
                                praesentium impedit eligendi nesciunt blanditiis nulla
                                voluptatem ipsam culpa necessitatibus quaerat incidunt,
                                voluptates quod deleniti. Adipisci accusamus, nulla atque
                                aspernatur sed numquam at labore nesciunt quos dicta.
                                Officiis ad modi, natus nesciunt, mollitia, quos aliquid
                                maxime suscipit vitae nemo blanditiis. Neque porro
                                laboriosam inventore quasi sapiente laborum harum eos
                                molestiae repellendus? Voluptatum a harum veritatis. Velit,
                                ipsam. Voluptatum corrupti ab aperiam, error quod
                                voluptates, earum amet blanditiis maiores porro repellat
                                doloremque id labore enim inventore modi dolor reprehenderit
                                cupiditate consequuntur nam laboriosam obcaecati odio non.
                                Illum, nam?Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                Sapiente nisi, corrupti odit magnam eaque maiores incidunt
                                veritatis hic aliquam eius, animi ea facere dolores enim!
                                Quo ullam impedit earum consectetur? Autem repellat aperiam,
                                praesentium impedit eligendi nesciunt blanditiis nulla
                                voluptatem ipsam culpa necessitatibus quaerat incidunt,
                                voluptates quod deleniti. Adipisci accusamus, nulla atque
                                aspernatur sed numquam at labore nesciunt quos dicta.
                                Officiis ad modi, natus nesciunt, mollitia, quos aliquid
                                maxime suscipit vitae nemo blanditiis. Neque porro
                                laboriosam inventore quasi sapiente laborum harum eos
                                molestiae repellendus? Voluptatum a harum veritatis. Velit,
                                ipsam. Voluptatum corrupti ab aperiam, error quod
                                voluptates, earum amet blanditiis maiores porro repellat
                                doloremque id labore enim inventore modi dolor reprehenderit
                                cupiditate consequuntur nam laboriosam obcaecati odio non.
                                Illum, nam?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer>
    <ul class="footer-social">
        <li><a href="#" class="fab fa-facebook"></a></li>
        <li><a href="#" class="fab fa-twitter"></a></li>
        <li><a href="#" class="fab fa-instagram"></a></li>
    </ul>
</footer>
@section Scripts{
    <link rel="stylesheet" href="~/aboutus.css" />
    <link rel="stylesheet" href="~/buttons.css">
}
