@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
body {
  font-family: "Lato", sans-serif;
}
#plans{
    margin-top: 86px;
}
.section-title {
  text-align: center;
  margin-bottom: 40px;
  color: #3e4555;
  font-size: 30px;
}
.plan {
  text-align: center;
  padding: 5px 50px;
}
.plan__badge {
  background: #fff;
  color: #fc997c;
  padding: 8px;
  border-radius: 5px;
}
.plan__features {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.plan--featured {
  position: relative;
  top: -20px;
}
.plan__features li {
  margin: 6px 0;
}
.recomended_plan {
  color: #fff;
  background: #19A7CE !important;
}
.inner-plan {
  background: #F6F1F1;
  padding: 10px 10px;
  border-radius: 7px;
  box-shadow: 5px 10px 15px 5px rgba(100, 100, 111, 0.2);
  height: 310px;
  border: 3px solid transparent;
}
.animation-inner-plan{
  animation: InOut 1s alternate infinite;
}
@keyframes InOut {
  0% {
    border: 3px solid #ffd93d;
  }
  100% {
    border: 3px solid transparent;
  }
}
.inner-plan:hover {
  box-shadow: 5px 10px 15px 5px rgba(100, 100, 111, 0.7);
  transition: 0.7s;
}
.container-options {
  margin-top: 30px;
}
.container-payment {
    text-transform: uppercase;
  min-height: 100vh;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.container-payment .card-container {
  margin-bottom: -150px;
  position: relative;
  height: 250px;
  width: 400px;
}
.container-payment .card-container .front {
  background: linear-gradient(
    45deg,
    #4f200d,
    #ffd93d,
    #ff8400,
    #ffd93d,
    #4f200d
  );
  padding: 20px;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  backface-visibility: hidden;
  transform: perspective(1000px) rotateY(0deg);
  transition: transform 0.8s ease-out;
}
.container-payment .card-container .front .image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.container-payment .card-container .front .image img {
  height: 50px;
}
.container-payment .card-container .front .card-number-box {
  padding: 30px 0;
  font-size: 22px;
  color: #fff;
}
.container-payment .card-container .front .flexbox {
  display: flex;
}
.container-payment .card-container .front .flexbox .box:nth-child(1) {
  margin-right: auto;
}
.container-payment .card-container .front .flexbox {
  font-size: 15px;
  color: #fff;
}
.container-payment .card-container .back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, blueviolet, deeppink);
  border-radius: 5px;
  padding: 20px 0;
  text-align: right;
  backface-visibility: hidden;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  transform: perspective(1000px) rotateY(180deg);
  transition: transform 0.8s ease-out;
}
.container-payment .card-container .back .stripe {
  background: #000;
  width: 100%;
  margin: 10px 0;
  height: 50px;
}
.container-payment .card-container .back .box {
  padding: 0 20px;
}
.container-payment .card-container .back .box span {
  color: #fff;
  font-size: 15px;
}
.container-payment .card-container .back .box .cvv-box {
  height: 50px;
  padding: 10px;
  margin-top: 5px;
  color: #333;
  background: #fff;
  border-radius: 5px;
  width: 100%;
}
.container-payment .card-container .back .box img {
  margin-top: 30px;
  height: 30px;
}
.container-payment form {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 1);
  padding: 20px;
  width: 600px;
  padding-top: 160px;
}
.container-payment form .input-box {
  margin-top: 20px;
}
.container-payment form .input-box span {
  display: block;
  color: #999;
  padding-bottom: 5px;
}
.container-payment form .input-box input,
.container-payment form .input-box select {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 3);
  color: #444;
}
.container-payment form .flexbox {
  display: flex;
  gap: 15px;
}
.container-payment form .flexbox .input-box {
  flex: 1 1 150px;
}
.submit-div {
  margin-top: 10px;
  width: 30%;
  clip-path: polygon(
    10% 0%,
    90% 0%,
    100% 25%,
    100% 80%,
    90% 100%,
    10% 100%,
    0% 70%,
    0% 30%
  ) !important;
  left: calc(50% - 84px);
  padding: 2px;
}
.container-payment form .form-satinal {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s linear;
}
.container-payment form .form-satinal:hover {
  letter-spacing: 2px;
  opacity: 0.8;
}
